<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Star Social</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<!-- Master css -->
<link rel="stylesheet" href="{% static 'simplesocial/static/css'%}">

  </head>
  <body>
    <!-- Common Navbar -->

    <nav class="navbar navbar-inverse " id='navbar'>
  <div class="container-fluid">
    <div class="navbar-header ">
      <a class="navbar-brand" href="{% url 'home' %}">StarClub</a>
    </div>
    <ul class="nav  navbar-nav">
      <li class="active"><a href="{% url 'post:all' %}">Home</a></li>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li> <a href="{% url 'post:create' %}">POST</a></li>
        <li> <a href="{% url 'groups:all' %}">GROUPS</a></li>
        <li> <a href="{% url 'groups:create' %}">CREATEGROUP</a></li>
        <li> <a href="{% url 'accounts:logout' %}">LOGOUT</a></li>

        {% else %}
          <li> <a href="{% url 'groups:all' %}">GROUPS</a></li>
          <li> <a href="{% url 'accounts:login' %}">LOGIN</a></li>
        <li> <a href="{% url 'accounts:signup' %}">SIGNUP NOW!!!!</a></li>
      </ul>
    </ul>


      {% endif %}
  </div>
</nav>
<div class="container mycontent">
  {% block content %}

  {% endblock %}
</div>

  </body>
</html>
